#ajax {
  width: 30vw;
  height: 8vh;
  border-radius: 10px;
  margin-top: 30%;
  margin-left: 33%;
  margin-right: 33%;
}

::placeholder {
  color: black;
  opacity: 1;
}

input[type="text"] {
  font-family: monospace;
  font-size: 2.3em;
  color: black;
}

select {
  width: 12em;
  margin: 0;
  margin-left: -12.75em;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  /* grid-gap: 10px; */
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  /* font-size: 150%; */
  height: 100vh;
  width: 100vw;
}

.a {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.b {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url("images/pokedex_pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  height: 100%;
  width: 100%;
}

#pokedexContainer {
  background-image: url("images/pokedex_pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
